#tech {
    min-height: 100vh;
    background: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 79px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curve-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.curve-top .shape-fill {
    fill: rgb(39, 0, 130);
}

.skill-txt {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.skill-dsc {
    text-align: center;
    margin-bottom: 60px;
}
.tech-sk{
    padding-bottom: 60px;
}

@media (max-width: 576px){
    .tech-card{
        margin: 0 5px 15px;
        padding: 10px;
    }
}

/* xs devices */
@media (max-width: 768px){
    .skill-dsc {
        padding: 0 40px;
        font-size: 14px;
    }
    .ctitle, .card-B {
        display: none;
    }
    .tech-card{
        margin: 0 15px 20px;
        padding: 10px;
    }
}
/* small devices */
@media (min-width: 768px){
    .skill-dsc, .skill-dsc2 {
        padding: 0 40px;
        font-size: 15px;
    }
    .ctitle {
        font-size: 15px;
    }
    .tech-card{
        margin: 0 20px 40px;
    }
}
/* medium devices */
@media (min-width: 992px){
    .skill-dsc, .skill-dsc2 {
        padding: 0 10px;
        font-size: 15px;
    }
    .ctitle {
        font-size: 15px;
    }
}
/* large devices */
@media (min-width: 1200px){
    .skill-dsc, .skill-dsc2 {
        padding: 0 10px;
        font-size: 16px;
    }
    .ctitle {
        font-size: 16px;
    }

}

.tech-card {
    box-shadow: 2px 0px 2px 2px rgb(250, 88, 182);
    border-radius: 30px;
    background-color: transparent;
    transition: 0.1s ease;
}
.tech-card:hover {
    transform: scale(0.95);
    transition: 0.5s ease;
    cursor: pointer;
}

.curve-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve-bot svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.curve-bot .shape-fill {
    fill: rgb(39, 0, 130);
}