@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

:root {
    --darC: rgb(26, 26, 64);
    --naVy: rgb(39, 0, 130);
    --purp: rgb(122, 11, 192);
    --pinK: rgb(250, 88, 182);
    --blacK: rgb(4, 3, 3);
    --whit: rgb(250, 237, 240);


}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 5px;
}

@media (max-width: 768px) {
    body::-webkit-scrollbar{
        width: 0px;
    }
}

body::-webkit-scrollbar-thumb {
    background-color: var(--pinK);
    outline: 1px solid var(--purp);
}

body::-webkit-scrollbar-track{
  background-color: var(--darC);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, var(--darC), var(--naVy), var(--purp));
  background-size: 400% 400%;
  background-position: 0 0;
  background-attachment: fixed;
  animation: moving 20s infinite ease-in-out;  
}

h1, h2, h3, h4, h5, h6 {
    color: whitesmoke;
}

@keyframes moving {
  0% {
      background-position: 0 0;
  }
  8%{
      background-position: 0 15%;
  }
  16%{
      background-position: 0 30%;
  }
  24%{
      background-position: 23% 45%;
  }
  32%{
      background-position: 45% 60%;
  }
  40%{
      background-position: 68% 60%;
  }
  48%{
      background-position: 90% 45%;
  }
  56%{
      background-position: 90% 30%;
  }
  64%{
      background-position: 90% 15;
  }
  72% {
      background-position: 68% 0;
  }
  80% {
      background-position: 45% 0;
  }
  88% {
      background-position: 23% 0;
  }
  100% {
      background-position: 0 0;
  }
}


p {
    font-family: 'Montserrat', sans-serif;
    color: var(--whit);
}